* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #D4C0D7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: 2px solid red;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
 margin: 75px 10px 5px;
}

.card {
  display: flex;
   /* justify-content: space-between ; */
   align-items: flex-start;
  border: 1px solid black;
  height: 350px;
  width: 250px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.left {
  align-self: flex-start;
  flex-direction: column;
  font-size: 2rem;
  margin-left: 0.5rem;
  width: 10%;
  text-align: center;

}

.middle {
  display:flex;
  justify-content: center;
  align-self: center;
  border: 1px solid red;
  text-align: center;
  width: 150px;
  font-size: 3rem;
}

.right {
  flex-direction: column;
  align-self: flex-end;
  font-size: 2rem;
  width: 35%;
  text-align: center;
  
}
